
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.6;
  }

html{
    scroll-behavior: smooth;
}

header {
    /* background-color: rgba(
      51,
      51,
      51,
      0.8
    );  */
    background-color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 70px;
    margin-top: 20px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }


  .nav {
    display: flex;
    position: fixed;
    top: 78px;
    width: 300px;
    height: 100%;
    right: 0;
    background-color: rgba(
      29,
      29,
      29,
      0.9
    ); /* Darker background for the dropdown */
    display: none; /* Hidden by default */
    flex-direction: column;
  }

  .nav-desktop {
    display: flex; /* Show the desktop nav */
  }

  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-list li {
    margin: 0 7px;
    text-align: center;
   
  }

  .nav-list a {
    /* color: #fff; */
    text-decoration: none;
    padding: 10px 16px;
    
    transition: background 0.3s;
    
  }

  .nav-list a:hover {
    background: rgba(47, 43, 43, 0.2);
    border-radius: 4px;
  }

  .svg-toggle{
    display: none;
  }

.hero{
    background-color: white;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 400px;
    margin-top: 20px;
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 30px;
}

.details h1{
    font-size: 50px;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
}

.icons img{
    width: 50px;
    height: 60px;
}

.img-svg{
    width: 35px;
    fill: rgb(229, 77, 18);
}
.img-svg-2{
    width: 35px;
    fill: blue;
}


.skills-section{
    margin: 0 auto;
    max-width: 1000px;
}

.details p{
    font-size: 17px;
    line-height: 24px;
}
.details{
    margin-left: 40px;
}

.image{
    width: 250px;
   
     margin: auto;
   
}

.hero-mobile{
    display: none;
  }
.my-image{
   max-width: 100%;
   border-radius: 4px;
}

.background{
    padding-right: 8px;
    padding-bottom: 8px;
    
    border-right:17px solid rgb(107, 106, 106);
    border-bottom: 17px solid rgb(107, 106, 106);
    
}

.background-2{
    padding-left: 8px;
    padding-bottom: 8px;
    
    border-left:17px solid rgb(107, 106, 106);
    border-bottom: 17px solid rgb(107, 106, 106);
    
}

.about-me{
    background-color: #f9fafb;
    border-radius: 9px;
    padding-top: 10px;
}

.h4{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
  
}

.about-grid{
    display: grid;
    grid-template-columns: 400px 1fr;
    margin: 0 auto;
    max-width: 1000px;
}
.short_text p{
    line-height: 24px;
    font-size: 14px;
}

.short_text h5{
    font-size: 23px;
}
.short_text li{
    line-height: 24px;
    font-size: 14px;
}

.sidebar{
   background-color: rgb(245, 244, 244);
    position: fixed;
    right: 0;
 top: 0;
   height: 100%;
    width: 300px;
    z-index: 200;
    display: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

@media screen and (max-width: 850px){

    

      header,
      section,
      footer {
        padding: 20px;
      }
       

      .svg-toggle{
        display: flex;
      }
      
      .menu-toggle {
        display: flex; /* Show hamburger menu */
      }

      
      .nav-desktop {
        display: none; /* Hide desktop nav on small screens */
      }

      .nav.active {
        display: flex; /* Show nav when active */
      }

      .nav-list {
        flex-direction: column; /* Stack items vertically for mobile */
        align-items: center; /* Center align items */
      }

      .nav-list li {
        margin: 10px 0; /* Vertical margin for mobile */
      }
      .nav-list a {
        color: white;
      }

      .hero-mobile{
        display: none;
      }

}

@media screen and (max-width: 760px) {

.hero{
    display: none;
}

    .hero-mobile{
        background-color: white;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        
        margin: 0 auto;
        max-width: 1000px;
        padding-bottom: 30px;
    }

    header {
        /* background-color: rgba(
          51,
          51,
          51,
          0.8
        );  */
        background-color: white;
        padding: 10px 0;
        position: sticky;
        top: 0;
        z-index: 1000;
        margin-bottom: 20px;
      
      }

      .about-grid{
        display: flex;
      flex-direction: column;
        margin: 0 auto;
        max-width: 1000px;
    }
}